.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 60px;
  background-color: $base-background-gray;
}

.nav {
  display: flex;
  gap: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;

  a.active {
    color: $white;
  }

  a:not(a.active):hover {
    color: $link--hover;
  }
}
